* {
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(204, 204, 204);
}

header {
    text-align: center;
    padding-bottom: 30px;
}

.player_one {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
}

li {
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
}

.head-2 {
    text-align: center;
    padding-bottom: 30px;
}

.player_two {
    border: 1px solid black;
    padding: 10px 10px;
    margin-left: 450px;
    margin-right: 450px;
    text-align:center;
    background-color: white;
    width: fit-content;
    display: block;
}

.media {
   background-color: white;
}

video
{
    width: 500px;
}


.audi
{
    background-color: white;
}

#h2
{
    background-color: white;
    padding-bottom: 20px;
}

audio 
{
    width: 500px;
    background-color: white;
}