/*  your css code here. If applicable */
*
{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

header
{
    padding-bottom:30px ;
    text-align: center;
}

.player_one
{
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.media
{
   padding: 20px 20px;
   border: 1px solid black;
   border-radius: 5px;
   margin-left: 350px;
    margin-right: 350px;
    background-color: white;
    
    justify-content: center;
    

}

ul,li{
    list-style-type: none;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    background-color: white;
}

.head-2
{
    text-align: center;
    padding-bottom: 20px;
}

.player_two
{
    width: 50%;
    background-color: white;
}

.audio
{
    background-color: white;
    
}

